* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Neue Machina", sans-serif;
  background: #f0f0f0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
}
